*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    height: 80px;
    width: 70%;
    background-color: rgba(44, 44, 44, 0.91);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .cart_logo
{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.cart
{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 10px;
    width: 80px;
}
.shopping
{
    color: rgb(0, 0, 0);
}
.cart p
{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
}
.container
{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root
{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.sidebar
{
    width: 40%;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head
{
    background-color: rgba(65, 65, 65, 0.91);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.foot
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid;
}
.box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 15px;
}
.img-box
{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images
{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom
{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
button
{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 7px 25px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
button:hover
{
    background-color: rgb(127, 255, 138);
}
.cart-item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid grey;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img
{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg
{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover
{
    cursor: pointer;
    color: #333;
}
